// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

/* [...] */

input[type="text"] {
    padding: 10px 8px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid darkgray;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
}

.inputs {
    text-align: center;
    align-self: center;
    justify-self: center;
}

.chat-message {
    width: 80%;
    margin-top: 4px;
    padding: 6px;
    text-align: left;
    word-wrap: break-word;
    margin: 5px;
    border-radius: 5px;
}

.from-admin {
    background: rgb(150, 178, 183);
    color: rgb(39, 37, 37);
    float: left;
}

.from-client {
    background: rgb(48, 13, 79);
    color: white;
    float: right;
}

.input-container {
    margin: 0px 0px;
}

.chat-input {
    width: 99%;
    margin-bottom: 0px;
}

.user-messages {
    overflow-y: scroll;
    height: 300px;
}

.user-box {
    width: 350px;
    position: relative;
    bottom: 0;
    margin: auto 10px 0px;
}

.users-box {
    width: 300px;
    margin: auto 25px auto auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.active-chats {
    margin-right: 330px;
    position: relative;
}

.stream-chat {
    position: absolute;
    bottom: 0;
    right: 0;
}

.users {
    overflow-y: scroll;
    height: 320px;
    padding: 0px;
}

.user {
    padding: 10px;
    // border: 1px solid gray;
    margin: 10px 0px;
    cursor: pointer;
    font-size: 18px;
    // background: rgb(243, 240, 240);
}

.user:hover {
    background: rgb(245, 244, 244);
}